* {
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    animation-name: left;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
}

.right {
    flex: 1;
    border-color: black;
    transition: 1s;
    background-image: url(/images/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}